body {
    background: #EEEEEE;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

/* 导航（Flex 布局） */
.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 6px #bababa;
    z-index: 10;
}

.nav-title {
    margin: 0 !important;
    padding-left: 35px;
    display: none;
}

.nav-content {
    margin-right: 35px;
    display: flex;
    justify-content: space-between
}

.nav-content a {
    color: gray;
    text-decoration: none;
    margin: 0 15px;
}

.slideUp {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    transition: transform .5s ease-out;
}

.slideDown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform .5s ease-out;
}

.button-group {
    margin-top: 30px;
}

.button {
    padding: 10px 15px;
    border: 1px solid #bababa;
    background: #f1f1f1;
    border-radius: 38px;
    box-shadow: 0 1px 4px #bababa;
    color: black;
    text-decoration: none;
    transition: .2s;
}

.button-github:hover {
    background: #000;
    color: #fff;
}

.button-telegram:hover {
    background: #000;
    color: #fff;
}

.button-margin-right-8px {
    margin-right: 8px;
}

/* Equal */
#equal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 200px;
}

.equal-content blockquote {
    border-left: 6px solid #bababa;
    padding-left: 10px;
    margin-left: 0;
    color: rgb(40, 40, 40)
}

.equal-flag img {
    box-shadow: 0 0 8px #bababa;
    border-radius: 3px;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 150px;
}

.devider {
    display: flex
}

.devider div {
    width: 55px;
    height: 8px;
    margin: 0;
    border: none;
}

.devider div#red {
    background: red;
}

.devider div#orange {
    background: orange;
}

.devider div#yellow {
    background: yellow;
}

.devider div#green {
    background: green;
}

.devider div#blue {
    background: blue;
}

.devider div#purple {
    background: purple;
}


#about {
    background: #fff;
    padding: 10px;
}

#about-title {
    padding-bottom: 0;
}

#support {
    background: #000;
    color: #fff;
    margin-top: -20px;
    padding: 10px;
}

#support a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    border-bottom: 1px solid rgb(250, 250, 250)
}

#support hr {
    height: 6px;
    width: 100%;
    background: #fff;
    border: none;
    margin: 30px 0;
}

.footer {
    background: rgb(20, 20, 20);
    color: #fff;
    margin: 0;
    padding: 10px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .nav-title {
        display: block;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-content {
        display: block !important;
    }

    .nav-content a {
        margin: 0;
        margin-left: 10px;
    }

    #equal {
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 60px;
        margin-top: 0;
    }

    .equal-flag img {
        margin: 20px;
        width: 380px;
    }

    #support hr {
        width: 330px;
    }
}

@media (min-width: 992px) {
    #about {
        padding: 10px 30px;
    }

    .about-section {
        padding: 30px;
    }

    #support {
        padding: 10px 60px;
    }

    .footer {
        padding: 20px 60px;
    }

    .equal-flag img {
        width: 490px;
    }
}

@media (min-width: 1200px) {}